
form{
    text-align: center;
}
input{
    color: #000080;
    margin: 5px;
}

form div{
    background-color: #e5faf8;
    margin: 20px;
    padding-top: 5px;
}

label{
    opacity: 0.5;
}

.signInText{
    font-style: italic;
    opacity: 0.6;
    text-align: center;
}
.signInLink{
    text-align: center;
    margin-top: 5px;
}

.signInLink:hover{
  text-decoration: underline;
  cursor: pointer;
  color: darkcyan;
}

.button{
    margin:5px auto;
    display: block;
    background-color: #5CBA47;
    color: white;
    padding: 5px;
    border: 1px solid #5CBA47;
    border-radius: 5px;
}

.button:hover{
    cursor: pointer;
}

.talkContainer{
    padding-left: 0 40px;
    padding-top: 5px;
}

.talkContainer p{
    margin-left: 40px;
}
.talk{
    background-color: white;
    padding: 10px 0;
    border: 1px solid #e5faf8;
    border-radius: 2px;
    width: 300px;
    margin: 10px auto;
}
.talk p,h4{
    text-align: center;
}
.timeDate{
    font-size: 14px;
}

.speakerLocation{
    display: flex;
    justify-content: space-evenly;
}

.showTalk{
    background-color: white;
    margin: 0 auto;
    width: 90%;
    padding: 10px;
    border-radius: 10px;
}
.showDate{
    display: flex;
    justify-content: space-between;
}
.talkDesc{
    background-color: white;
}

.talkDesc{
    width: 85%;
    margin: 10px auto;
}
.desc{
    font-size: 15px;
    font-weight: bold;
    color: rgb(0, 0, 128);
    opacity: 0.7;
    margin-bottom: 3px;
}

.talkSpeakers{
    background-color: #F8F8FF;
    padding: 20px;
    margin: 20px;
}
.talkSpeakers p{
    color: green;
}
.speaker{
    color: blue;
    padding: 10px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 5px;
}